html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--first-font);
  color: var(--main-text-color);
  background-color: var(--main-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .header .header-nav {
    display: none;
  }
  .header .header-contacts__list {
    display: none;
  }
  .header .header-nav__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 17px 0;
  }
  .header .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-contacts__list {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
  .header .header-nav__list,
.header .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  display: inline-block;
  margin-right: 50px;
}
.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header-nav__item .header-nav__link {
  padding: 32px 0;
}

.header-nav__link--page {
  position: relative;
  color: var(--accent-color);
}
.header-nav__link--page::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts__item {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .header-contacts__item:last-child {
    margin-right: 0;
  }
}
.header-contacts__item:last-child {
  margin-bottom: 0;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}
.header-contacts__link:hover .header-contacts__icon, .header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}

.header-contacts__link {
  font-family: var(--first-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.header-logo__first,
.footer-logo__first {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-logo__last {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-black-color);
}

.footer-logo__last {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-white-color);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  width: 528px;
  height: 581px;
  background: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.btn-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.btn-close:hover, .btn-close:focus {
  fill: var(--color-action-btn);
}

.form-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media (max-width: 1199px) {
  .form-text {
    line-height: 1.5;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-field:nth-child(5) {
  margin-bottom: 20px;
}
.form-field:nth-child(6) {
  margin-bottom: 30px;
}
.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.form-field input[type=checkbox] {
  width: 16px;
  height: 15px;
}
.form-field textarea {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form-input {
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.form-input:focus, .form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.form-input:focus + .form-input__icon, .form-input:hover + .form-input__icon {
  fill: var(--accent-color);
}

.form-policy__checkbox {
  color: var(--accent-color);
  -webkit-text-decoration: underline solid var(--accent-color);
          text-decoration: underline solid var(--accent-color);
}

.form-policy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
@media (max-width: 1199px) {
  .form-policy {
    font-size: 12px;
    line-height: 1.16;
  }
}
.form-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-input:checked + .form-policy::before {
  border-radius: 2px;
  border: none;
  background-image: url(../images/iconcheck.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.form-input:checked:focus + .form-policy::before, .form-input:checked:hover + .form-policy::before {
  outline: 0 solid #212121;
}

.form-btn {
  min-width: 200px;
  padding: 10px 20px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.form-btn:hover, .form-btn:focus {
  background-color: var(--color-action-btn);
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 767px;
    height: 400px;
    background-color: hovevar(--first-background-color);
    background-image: linear-gradient rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/bg-img-phone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-phone@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-phone@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 1199px;
    height: 400px;
    background-color: hovevar(--first-background-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-color: hovevar(--first-background-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-desktop@2x.jpg);
  }
}

.hero-title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  min-width: 200px;
  padding: 10px 24px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--color-action-btn);
}

@media (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .benefits-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits-list__item {
  margin-bottom: 30px;
}
.benefits-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .benefits-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .benefits-list__item {
    width: calc(100% - 60px);
    margin: 15px;
  }
}

.benefits-container__icon {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--second-background-color);
}

.benefits-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--second-text-color);
}

@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}

.products-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-thumb {
  position: relative;
  overflow: hidden;
}

.products-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);
}

.team {
  background: var(--second-background-color);
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

@media (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .team-list__item {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .team-list__item {
    margin: 0;
    margin-right: 30px;
  }
  .team-list__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .team-list__item {
    margin-bottom: 30px;
  }
  .team-list__item:last-child {
    margin-bottom: 0;
  }
}

.team-member__wrapper {
  background: var(--main-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
}

.team-member__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}

.team-member__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-member__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.team-member__links:focus, .team-member__links:hover {
  background-color: var(--accent-color);
  fill: var(--main-white-color);
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}
@media (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-item:hover, .clients-item:focus {
  color: var(--accent-color);
}

.clients-list__link {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
@media (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
}
.clients-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--first-background-color);
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
}

@media (min-width: 768px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-address-container {
    margin-left: 76px;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address__item {
  margin-bottom: 9px;
}
.footer-address__item:last-child {
  margin-bottom: 0;
}

.social-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address__link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-address-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-address__link--color {
  color: var(--main-white-color);
}

.social-link-container {
  margin-top: 60px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .social-link-container {
    margin-top: 5px;
    margin-left: 204px;
  }
}
@media (min-width: 1200px) {
  .social-link-container {
    margin-top: 10px;
    margin-left: 70px;
  }
}

.social-link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.social-link__link:hover, .social-link__link:focus {
  background-color: var(--accent-color);
}

.social-link__item {
  margin-right: 10px;
}
.social-link__item:last-child {
  margin-right: 0;
}

.social-link__title,
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-form {
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    margin-left: 166px;
  }
}
@media (min-width: 1200px) {
  .footer-form {
    margin-top: 10px;
    margin-left: 93px;
  }
}

.footer-form__input {
  height: 50px;
  min-width: 450px;
  margin-bottom: 20px;
  padding-left: 16px;
  color: var(--main-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--first-background-color);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
@media (min-width: 1200px) {
  .footer-form__input {
    min-width: 358px;
    margin-right: 10px;
  }
}
.footer-form__input:focus, .footer-form__input:hover {
  outline: none;
  border-color: var(--accent-color);
}
.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  position: relative;
  padding: 9px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--color-action-btn);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--color-action-btn);
}

.footer-form__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
  height: 24px;
  width: 24px;
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.mob-menu__container .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-icon {
  width: 40px;
  height: 40px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.menu-icon:focus, .menu-icon:hover {
  fill: var(--accent-color);
}

.mob-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--major-color-light);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  width: 100vw;
  height: 100vh;
  background: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.mob-menu__item {
  margin-bottom: 32px;
}
.mob-menu__item:last-child {
  margin-bottom: 0;
}

.mob-menu__link {
  font-family: var(--first-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-menu__link--page {
  color: var(--accent-color);
}

.mob-contacts__list {
  margin-top: 306px;
}

.mob-menu__tel {
  font-family: var(--first-font);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__mail {
  font-family: var(--first-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mob-social__list {
  margin-top: 64px;
}

.mob-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-social__item {
  margin-right: 20px;
}
.mob-social__item:last-child {
  margin-right: 0;
}

.mob-social__link {
  position: relative;
  font-family: var(--first-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-social__link::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: -10px;
  height: 22px;
  min-width: 1px;
  background: rgba(33, 33, 33, 0.2);
}

:root {
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-white-color: #FFFFFF;
  --background-color: #F5F5F5;
  --first-background-color: #2F303A;
  --second-background-color: #F5F4FA;
  --logo-black-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --color-action-btn: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */